# database related info
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=dutyy
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ENV=development
MAX_OVERFLOW=10
POOL_SIZE=5
RESEND_API_KEY=enter-string-here
SENDER_EMAIL=test@example.com
TOKEN_TTL=48 hours
JWT_TTL=15 minutes
