# database related info
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=dutyy
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MAX_OVERFLOW=10 
POOL_SIZE=5     

#App Config
FRONTEND_URL=""
ENV=development #options include (development, staging, production)



#Resend
RESEND_API_KEY=enter-string-here
SENDER_EMAIL=test@example.com

#timedeltas in ISO 8601 standard
TOKEN_TTL=P2d
JWT_TTL=PT30M

#Device Auth Config
DEVICE_AUTH_MAX_ATTEMPTS=3
DEVICE_AUTH_BASE_URI="https:/localhost:8000/device"
DEVICE_AUTH_INTERVAL=5

